@{
    ViewData["Title"] = "Save";
}
<h1>@ViewData["Title"]</h1>

<h>Tämä on minun Kuva-sivu.</h>

<p> Tässä hiukan koodia</p>
<pre>
int a = 57;
int b = 3;
int c = a+b;
Concole.WriteLine(c);
</pre>


<img src="~/Tiedostot/yle.png" style=" "width=" 40%;" alt=" = Zappyn kuva" />


<p>Lataa tarkempi <a href="~/Tiedostot/TYNHAU_1.pdf"> Työnhaun pdf</a></p>
