h1{
  position:center;
  border: 5px;
  text-align: center;
  z-index: 1;
  font-size: 40px;
  font-family: Verdana;
  color: #ff66cc;
  text-shadow: 2px 2px black;
}
#logo {
  padding: 1px;
  background-image: url('img/kukka.jpg');
  background-repeat: space;
  position: center;
  opacity: 0.75;
  z-index: -1;
  position:center;
}
.esittely {
  background-color: blueviolet;
  background: linear-gradient(to bottom, blueviolet 0%, white 100%);
  color: black;
  margin: 20px;
  padding: 20px;
  text-align: center;
  font-family: Verdana;
  top: 500px; 
}
footer {
  border: 2px;
  padding: 1px;
  background-color:#8c66ff;
  text-align:left;
  font-family:Lucinda Sans;
  font-size: 14px;
  color:white;
  top:500px;
}
a {
color: blue;
}  
nav{
   color: blueviolet;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
}






