@page
@model Bookshelf.Pages.Bookshelfs.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Bookshelf</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Bookshelf.AuthorNames" class="control-label"></label>
                <input asp-for="Bookshelf.AuthorNames" class="form-control" />
                <span asp-validation-for="Bookshelf.AuthorNames" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bookshelf.AuthorSurame" class="control-label"></label>
                <input asp-for="Bookshelf.AuthorSurame" class="form-control" />
                <span asp-validation-for="Bookshelf.AuthorSurame" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bookshelf.BookTitle" class="control-label"></label>
                <input asp-for="Bookshelf.BookTitle" class="form-control" />
                <span asp-validation-for="Bookshelf.BookTitle" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Bookshelf.Favorite" /> @Html.DisplayNameFor(model => model.GetBookshelfContext().Favorite)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Bookshelf.SavingDate" class="control-label"></label>
                <input asp-for="Bookshelf.SavingDate" class="form-control" />
                <span asp-validation-for="Bookshelf.SavingDate" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Bookshelf.Read" /> @Html.DisplayNameFor(model => model.GetBookshelfContext().Read)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
